<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExampleServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ExampleServer.Properties.Settings>
            <setting name="ListenPort" serializeAs="String">
                <value>14000</value>
            </setting>
            <setting name="FrameTime" serializeAs="String">
                <value>0.02</value>
            </setting>
            <setting name="MaximumPlayers" serializeAs="String">
                <value>64</value>
            </setting>
        </ExampleServer.Properties.Settings>
    </applicationSettings>
</configuration>